@mixin table {
    @media (max-width: 768px){
        @content;
    }
}
@mixin mobile {
    @media (max-width: 375px){
        @content;
    }
}

@mixin title-fz48 {
    font-size: $fz-48;
    font-weight: 700;
    text-align: center;
}
@mixin title-fz24 {
    font-size: $fz-24;
    font-weight: 700;
    text-align: center;
}
@mixin title-fz48-italic {
    font-size: $fz-48;
    font-weight: 900;
    font-style: italic;
    color: $primary-color;
    text-align: center;
}

.title {
    @include title-fz48;
    @include mobile {
        @include title-fz24;
    }
    &-red {
        color: $primary-text-color;
        &-mb48 {
            margin-bottom: 48px;
        }
        &-mb24 {
            margin-bottom: 24px;
        }
    }
    &-white {
        color: $secondary-color;
        &-mb48 {
            margin-bottom: 48px;
        }
    }
    &-italic {
        @include title-fz48-italic;
    }
}

.button {
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    &-buy {
        width: 104px;
        font-size: $fz-20;
        font-weight: 500;
        margin-top: 4px;
        margin-left: auto;
        padding: 6px 12px;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
    &-submit {
        width: 416px;
        font-size: $fz-16;
        font-weight: 700;
        padding: 16px 0;
        margin: 0 auto;
        @include table {
            width: 44%;
        }
        @include mobile {
            width: 100%;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
