.header {
  background-color: $primary-color;
  &-nav {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0;
    }
    &-link {
      display: flex;
      align-items: center;
      font-size: $fz-20;
      @include mobile {
        font-size: $fz-16;
        flex-wrap: wrap;
      }
    }
    li {
      padding: 6px 0;
      border-bottom: 3px solid transparent;
      &:nth-child(1){
        margin-right: 32px;
        @include mobile {
          margin: 0;
        }
      }
      &:nth-child(2){
        margin-left: 32px;
        margin-right: 32px;
        @include mobile {
          margin: 0;
        }
      }
      &:nth-child(3){
        margin-left: 32px;
        margin-right: 32px;
        @include mobile {
          margin: 0;
        }
      }
      &:nth-child(4){
        margin-left: 32px;
        @include mobile {
          margin: 0;
        }
      }
      @include mobile {
        width: 187px;
        padding: 12px 12px;
        text-align: center;
        border: 1px solid $secondary-color;
      }
      &:hover {
        border-bottom: 3px solid $secondary-color;
        @include mobile {
          border-bottom: none;
          opacity: 0.7;
        }
      }
    }
  }
}
.logo {
  h1 {
    a {
      background-image: url(https://github.com/zitonbar/2023-week4-project/blob/main/assets/images/logo-white.png?raw=true);
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      width: 80px;
      height: 48.57px;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      margin: 16px 0;
      @include mobile {
        margin-left: 15px;
      }
    }
  }
}