.banner {
  color: $primary-text-color;
  background-image: url(https://github.com/zitonbar/2023-week4-project/blob/main/assets/images/home-header.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mobile {
    background-image: url(https://github.com/zitonbar/2023-week4-project/blob/main/assets/images/home-header-sm.png?raw=true);
    
  }
}