.banner {
  color: $primary-text-color;
  background-image: url(https://github.com/zitonbar/2023-week4-project/blob/main/assets/images/home-header.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mobile {
    background-image: url(https://github.com/zitonbar/2023-week4-project/blob/main/assets/images/home-header-sm.png?raw=true);
    width: 375px;
    height: 396px;
  }
  &-content {
    padding: 296px 0;
    text-align: right;
    margin-left: auto;
    @include mobile {
      padding: 144px 0;
    }
    p {
      font-size: $fz-36;
      @include mobile {
        font-size: $fz-16;
      }
    }
    span {
      font-size: $fz-64;
      font-weight: 700;
      @include mobile {
        font-size: $fz-24;
      }
    }
  }
}
