<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner text-primary">
      <div class="container">
        <div class="banner-content">
          <p>Promise-Desert 2020 早春系列</p>
          <span>看得清，才能看得遠</span>
          <a href="#" class="button button-buy">立即購買</a>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
